

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'frutiger-lightregular';
    src: url('fonts/light-webfont.eot');
    src: url('fonts/light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/light-webfont.woff2') format('woff2'),
         url('fonts/light-webfont.woff') format('woff'),
         url('fonts/light-webfont.svg#frutiger-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutiger-bold';
    src: url('fonts/bold-webfont.eot');
    src: url('fonts/bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bold-webfont.woff') format('woff'),
         url('fonts/bold-webfont.svg#frutiger-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}


html,body {
  font-family: 'frutiger-lightregular', sans-serif;
  color:#2b2a2a;
  line-height: 1.5;
  font-size: 100%;
}
header.home-header{
	/*background: url(../img/you-and-yours.jpg) top center no-repeat;*/
	//background: url(../img/hunt-banner-contract.jpg) top center no-repeat;
	//background: url(../img/hunt-banner-trade.jpg) top center no-repeat;
	background-size: 100%;
    //background-position:center -120px;
	background-blend-mode: darken;
	transition: background-image 1s;
}
header.internal-header{
	padding-top:250px;
    background: url("../img/inner-header-1.jpg") center  no-repeat;
    //background-size: cover;
}
header.internal-header-2{
	padding-top:250px;
    background: url("../img/inner-header-2.jpg") center  no-repeat;
}
header.internal-header-3{
	padding-top:250px;
    background: url("../img/inner-header-3.jpg") center  no-repeat;
}
header.internal-header-4{
	padding-top:250px;
    background: url("../img/inner-header-4.jpg") center  no-repeat;
}
header.internal-header-5{
	padding-top:250px;
    background: url("../img/inner-header-5.jpg") center  no-repeat;
}
header.internal-header-6{
	padding-top:250px;
    background: url("../img/inner-header-6.jpg") center  no-repeat;
}
h1{
	font-family: 'frutiger-bold', sans-serif;
    font-size: 3.2em;
	line-height: 1.5;
}
h2{
	font-family: 'frutiger-bold', sans-serif;
    font-size: 3em;
	line-height: 1.5;
}
h3{
    font-size: 1.05em;
	font-family: 'frutiger-bold', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.05em;
}
h4{
    font-size: 1.15em;
	line-height: 1.5;
}
footer{
	background-color:#2f3332;
	color:#b9c5c3;
}
nav ul{
	list-style: none;
    padding: 0;
}
p{
	font-size: 1.03em;
}
hr {
   
    border: 1px solid #eee;
    border-bottom: 0;
}
header h1,  .transition-picture h2{
	font-family: 'frutiger-bold', sans-serif;
	letter-spacing: 0.02em;
	color:#fff;
}
 header h4{
	font-family: 'frutiger-bold', sans-serif;
	letter-spacing: 0.02em;
	color:#a5bec0;
    margin-top: 30px;
}
h1.red-bar-heading {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.main-content div.col-sm-8 ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}
.main-content div.col-sm-8  li { 
    padding-left: 16px; 
}
.main-content div.col-sm-8 li:before {
    content: "-"; 
    color: #981f32;
    font-size: 1.5em;
    padding-right: 5px;
}

aside ul {
    list-style: none;
    //list-style-image: url(../img/arrow-icon-small.png);
}
aside li {
    //margin: 10px 0;
    padding: 8px 0 8px 10px;
    border-top: 1px solid #e4edf0;
    transition:all 200ms ease-out;
}
aside li.submenu-selected, section:not(.team-member-area) aside li:hover {
    background-color: #e7f3f4;
    border-top: 1px solid #e7f3f4;
    border-left: 8px solid #d5dedf;
    padding-left: 10px;
}
.main-content aside li.submenu-selected a:link, .main-content aside li.submenu-selected a:visited {
    font-family: 'frutiger-bold', sans-serif;
    color: #434343;
    text-decoration: none;
}
.team-member-area aside ul{
    padding: 10px 0;
    list-style-type: circle;
}
.base-font{
	font-family:  sans-serif;
    font-size: 14px;
}
.module-calendar{
	margin-top: 20px;
}
.module-calendar td{
    padding: 5px;
    text-align: center;
    vertical-align: top;
    border: 2px solid #e5eced;
}
.module-calendar ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
    padding: 0;
}
.day-of-week{
	 background-color: #e5eced;
}
.main-content aside a:link,.main-content aside a:visited{
    //color: #73a4aa ;
    font-weight: normal;
    font-family: 'frutiger-lightregular', sans-serif;
    //text-transform: uppercase;
    color: initial;
    transition:all 200ms ease-out;
    font-size: 0.9em;
    letter-spacing: initial;
    text-decoration: none;
}
.main-content aside a:hover{
 	    padding-left:10px;
}
#contact-panel h3, .news h3,.memberships h3{
	color:#981f32;
}
 .transition-picture hr{
    border: 0;
	border-top: 4px solid #981f32;
    max-width: 60px;
    margin-left: 0;
	margin-bottom: 0px;
	text-align: left;
}
.minor-tagline{
	border-left: 25px solid #981f32;
    padding-left:20px;
    text-align: left;
    display: inline-block;
}
.minor-tagline h5 {
    color: #c7d7d8;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 0.06em;
}
.minor-tagline a,.minor-tagline a:link, .minor-tagline a:visited {
    color: white;
    text-decoration: underline;
}
.carousel-zone hr {
    border: 0;
    border-top: 3px solid #981f32;
    max-width: 70px;
}

.carousel-zone{
	padding-top:450px;
	//padding-bottom:20px;
}
.carousel-indicators {
	position:static;
	margin: 30px 0 0;
	text-align:left;
	width:initial;
}
.carousel-dots  {
    width: 8px;
    height: 8px;
    background-color: #981f32;
    border: 0;
    border-radius: 7px;
	margin-right:10px;
}
.carousel-dots .slick-active {
    width: 8px;
    height: 8px;
    margin: 1px;
	background-color: #fff;
}
.home-carousel ul{
	list-style:none;
    margin-top: 30px;
	padding: 0;
}
.home-carousel li{
	display: inline;
}
.home-carousel button{
	width: 10px;
    height: 10px;
	padding:0;
    background-color: #981f32;
    border: 0;
    border-radius: 7px;
	margin-right:10px;
	font-size:1px;
}
.home-carousel li.slick-active button {
    background-color: #fff;
}

.home-carousel {
    padding: 0 20px 10px 20px;
    background: rgba(0, 0, 0, 0.6);
    max-width: 800px;
    margin: 0 auto;
    text-align: center

}
.carousel-inner>.item {
	padding:20px;
}


.panel-default>.panel-heading {
    background-color: #a3bec0;
}

.panel {
    border: 0;
}

.img-fluid{
    max-width:100%;
}
.toggler {
    width: 500px;
    height: 200px;
  }
  #open-contact-panel,#close-contact-panel {
    padding: 7px;
    background-color: #bac6c4;
	border-radius:0;
  }
  #close-contact-panel {
	  position: absolute;
	  top: 0;
	  left: -35px;
	  padding: 6px 10px 8px;
	  margin: 0;
  }
  #contact-panel {
    position: relative;
	display:none;
	width:400px;
	height:600px;
    padding: 30px 60px;
	background-color: #bac6c4;
	-webkit-box-shadow: 0px 1px 15px 1px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 1px 15px 1px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 1px 15px 1px rgba(50, 50, 50, 0.1);
  }
  .preferred-office, .our-locations{
		background-color:#981F32;
		text-align:center;
		color:#fff;
		padding:30px 0;
		position:relative;
		border-radius: 0;
		overflow: hidden;
		-webkit-transition: all 0.3s linear;
	    -moz-transition: all 0.3s linear;  
	    -o-transition:all 0.3s linear;         
	    transition: all 0.3s linear;  
	}
  .preferred-office.closed{
		padding:0;
		position:relative;
		height: 36px;
	}
   .preferred-office.closed h3 {
		margin: 5px 0;
	}
	.preferred-office.closed .container {
		text-align:left;
	}
	#close-preferred-office{
		position:absolute;
		top:-1px;
		right:0;
	}
	#close-preferred-office-btn{
		background-color: #72081c;
		border-radius:0;
		padding: 6px 10px 8px;
		display:none;
	}
	#open-preferred-office-btn{
		background-color: #7e1327;
		padding:6px 7px;
		border-radius:0;
		display:none;
	}
	.services{
		margin:50px 0;
	}
	 .main-content{
		margin:80px 0;
	}
	.services .row > div{
		padding:30px;
		transition: background-color 0.4s ease 0s;
		text-align:center;
	}
	.services .row > div:hover{
		background-color:#f2f4f3;
		//cursor:pointer;
	}
	.services h4, .main-content h4{
		font-size: 1.05em;
		font-family: 'frutiger-bold', sans-serif;
		line-height: 1.5;
		//font-weight: 700;
		letter-spacing: 0.02em;
		color:#981F32;
	}
    .bigger-red-text {
        color: #981f32;
        font-size: 1.4em;
    }
	.services img{
		margin-bottom:15px;
	}
	.transition-picture{
		padding: 20% 0 5% 0;
        background: url(../img/home-banner.jpg) top center no-repeat;
        background-size: 100%;
        text-align: right;
        background-position-y: -250px;
	}
	.news{
		margin:60px 0;
		text-align:center;
	}
	.news .row > div{
		text-align:left;
	}
	 .news h4,footer h4{
		font-size: 1.03em;
		font-family: 'frutiger-bold', sans-serif;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}
	aside h4.black-title{
		    color: #2b2a2a;
       		 margin: 0 0 30px 50px;
	}
	.news .row > div>div{
		padding:10px;
		margin: 20px 0;
		transition: background-color 0.4s ease 0s;
	}
	.news .row > div>div:hover{
		background-color:#f2f4f3;
		cursor:pointer;
	}
	.news .row > div>div a {
		font-size: 0.75em;
		color: #981f32;
		font-family: 'frutiger-lightregular', sans-serif;
		font-weight: 700;
	}
	 .news img{
		max-width: 100%;
	}
	.memberships {
		text-align:center;
		margin:40px 0
	}
	.memberships img {
		margin:20px 3px;
	}
	footer a, footer a:link, footer a:visited{
		font-family: 'frutiger-lightregular', sans-serif;
		color:#b9c5c3;
		font-size:0.9em;
	}
	footer a:hover{
		color:#981F32;
	}
	footer nav{
		margin:30px 0;
	}
	.sub-footer{
		background-color:#000;
		color:#68706d;
		font-size:0.8em;
		padding:8px 0 0;
	}
	.sub-footer a,.sub-footer a:link, .sub-footer a:visited{
		color:#68706d;
		text-decoration:underline;
		font-size:0.85em;
	}
	.sub-footer a:hover{
		text-decoration:none;
	}
	
	.prize-area > div{
		display:inline-block;
		width:32%;
		max-width:150px;
		font-size: 0.7em;
		line-height: 0.5;
		text-align: center;
		vertical-align: top;
	}
	.prize-area > div img{
		margin:15px 0;
	}

    .team-img{
        max-width:100%;
    }
    .team-thumbnail {
        max-width: 150px;
        margin: 10px;
    }
	
/* LINKS */

a {
    color: inherit;
	transition: all 0.3s ease 0s;
}


.main-content a:link{
		
		color: #981f32;
		font-family: 'frutiger-lightregular', sans-serif;
		font-weight: 700;
   		 text-decoration: underline;
		
}

.main-content a:visited {
		
		color: #981f32;
		font-family: 'frutiger-lightregular', sans-serif;
		font-weight: 700;
		text-decoration: underline;
}

a:hover {
	color:#981F32;
	text-decoration:none;
}

#contact-panel a {
    font-family: 'frutiger-bold', sans-serif;
    text-decoration: underline;
}
a.active {
	color:#bac6c4 !important;
	text-decoration:underline;
}

.button-default {
    color: #981f32 !important;
    background: transparent;
    border: 2px solid #981f32;
    border-radius: 0;
	font-family: 'frutiger-bold', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    text-decoration:none !important;
}
.button-default:hover {
    color: #fff !important;
    background-color: #981f32;
}

.fb-button{
	display:inline-block;
	height:35px;
	width:25px;
	background:url(../img/facebook-logo-sprite.png) no-repeat;
	border:0;
	transition:background-position 0.3s ease;
	margin-right:20px;
}
.fb-button:hover{
	background-position: 0 -35px;
}

.in-button{
	display:inline-block;
	height:35px;
	width:30px;
	background:url(../img/linkedin-logo-sprite.png) no-repeat;
	border:0;
	transition:background-position 0.3s ease;
	margin-right:20px;
}
.in-button:hover{
	background-position: 0 -35px;
}

.youtube-button{
	display:inline-block;
	height:35px;
	width:30px;
	background:url(../img/youtube-logo-sprite.png) no-repeat;
	border:0;
	transition:background-position 0.3s ease;
}
.youtube-button:hover{	
	background-position: 0 -37px;
}

a.collapsed:link {
    color: #ffffff;
}
#catwebformbutton{
	margin-top: 10px;
    padding: 8px;
}

/*FORM*/

input[type="text"], select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: #e5eced;
    border-width: 0;
    padding: 8px;
    width: 100%;
    max-width: 250px;
    color: #738f91;
    margin: 10px 0;
    vertical-align: top;
}

input[type="submit"]{
	width: 100%;
    max-width: 250px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #738f91;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #738f91;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #738f91;
}
:-moz-placeholder { /* Firefox 18- */
  color: #738f91;
}



/*SHRINKING NAV*/

nav.affix-top img{
   max-height: 100px;
   -webkit-transition: max-height 0.1s linear;
  -moz-transition: max-height 0.1s linear;  
  -o-transition: max-height 0.1s linear;         
  transition: max-height 0.1s linear;  
}
nav.affix img{
   max-height: 60px;
   -webkit-transition: max-height 0.1s linear;
  -moz-transition: max-height 0.1s linear;  
  -o-transition: max-height 0.1s linear;         
  transition: max-height 0.1s linear;  
}

nav.affix .navbar-brand {
  padding:5px;
}
nav.affix-top{
     -webkit-box-shadow: 0px 1px 15px 1px rgba(50, 50, 50, 0);
    -moz-box-shadow: 0px 1px 15px 1px rgba(50, 50, 50, 0);
    box-shadow: 0px 1px 15px 1px rgba(50, 50, 50, 0);
}
nav.affix {
     -webkit-box-shadow: 0px 1px 15px 1px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 1px 15px 1px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 1px 15px 1px rgba(50, 50, 50, 0.1);
}

/*GOOGLE MAP*/
#map {
        width: 100%;
        height: 600px;
		
     }
.map-zone{
	position:relative;
}
.map-overlay {
	width:100%;
	min-height:600px; 
	position:absolute; 
	top:0;
	z-index:2;
}
#contact-details{
	position:absolute;
	z-index:10;
	right:0;
	top:0;
}
/*NAVBAR*/

.navbar{
  background-color: #fff;
  font-family: 'frutiger-bold', sans-serif;
}


.navbar-brand {
    height: inherit; 
    border-left: 20px solid #981f32;
    margin-left: 0px !important;
	padding: 15px;
}
 .navbar-nav>li>a {
	font-size: 0.92em;
	padding: 15px 25px;
 }

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background:initial;
	text-decoration: none !important;
	color:#981F32;
	border-bottom: 2px solid #981F32;
}
.dropdown-menu>li>a {
	font-family: 'frutiger-lightregular', sans-serif;
	padding: 0 1px;
    margin: 3px 25px  3px 15px;
    border-bottom: 2px solid #fff;
    display: inline-block;
    font-size: 1em;
}
.navbar-toggle .icon-bar {
    width: 30px;
    height: 3px;
    background-color: #981f32;
}
.navbar-toggle {
    margin-right: 10px;
}

 
 .office-nav>li {
	font-family: 'frutiger-lightregular', sans-serif;
    padding: 10px 20px;
    font-size: 1.2em;
 }
 .office-nav{
	 list-style: none;
 }
 .office-nav>li>a{
	color:#fff;
	letter-spacing: 0.05em;
 }
 
/*SUB MENU DROPDOWN*/
 
 .dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -5px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}




.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

@media (max-width: 767px) {
	
  header.home-header{
	/*background: url(../img/you-and-yours-sml.jpg) top center no-repeat;*/
	background-size: cover;

}  
  
    
 footer{
	 text-align:center;
 }
	

	.nav>li {
		border-bottom: 1px solid #ced7d4;
	}
	header {	
		background-position-y:130px;
		background-size:cover;
	}
	.navbar-fixed-top .navbar-collapse {
		max-height: initial;
	}
	.carousel-zone {
		padding-top: 200px;
	}
	h1{
		font-size: 2.5em;
	}
	.office-nav{
		padding:0;
	}
	#contact-details {
		position: initial;
	}
	#open-contact-panel, #close-contact-panel {
		display:none;
	}
	#contact-panel {
		display: block;
		width: 100%;
		height: initial;
		text-align: center;
	}
	#map {
        height: 300px;
     }
	.transition-picture {
		padding: 8% 0 5%;
	}
	.dropdown-submenu > .dropdown-menu {
		margin-left: 15px;
	}
    #contact-content{
    	text-align:center;
    }
    aside{
    	display:none;
    }
    .team-member-area aside {
    	display:block;
	}
    .team-member-area aside ul {
    	padding: 10px 40px;
   
	}
    .module-calendar{
    	margin: 0 auto;
		margin-top: 20px;
	}
   
}

@media (min-width: 768px) {
	.office-nav>li{
	 display: inline-block;
 }
  .preferred-office{
	  height:120px;
  }
    .our-locations{
	  height:120px;
  }
    
  #form-contact input:nth-child(odd),#form-contact select:nth-child(odd),#form-contact textarea:nth-child(odd){
	//margin-right:40px;
	}
    
  .module-calendar td{
    min-width: 60px;
   }
  
}	
@media (min-width: 993px) {

/*DROPDOWN MENU ON MOUSEOVER*/
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
	
  }
  #navbar {
    text-align: center;
  }
  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
 /*==================*/ 
 .navbar-nav{
    margin-top: 38px;
 }
 #navbar {
    background-color: #fff;
	padding-right: 30px;
}
.navbar {
    background-color: transparent;
}
/*SHRINKING NAV*/
  nav.affix-top .navbar-nav{
    margin-top: 38px;
   -webkit-transition: margin-top 0.2s linear;
  -moz-transition: margin-top 0.2s linear;  
  -o-transition: margin-top 0.2s linear;         
  transition: margin-top 0.2s linear;  
 }
  nav.affix .navbar-nav{
	    margin-top: 10px;
	   -webkit-transition: margin-top 0.2s linear;
	  -moz-transition: margin-top 0.2s linear;  
	  -o-transition: margin-top 0.2s linear;         
	  transition: margin-top 0.2s linear;  
  }
  nav.affix-top {
    background: rgba(255, 255, 255, 0);
   -webkit-transition:background 0.2s linear;
  -moz-transition: background 0.2s linear;  
  -o-transition: background 0.2s linear;         
  transition: background 0.2s linear;  
 }
  nav.affix {
	   background: rgba(255, 255, 255, 1);
	   -webkit-transition: background 0.2s linear;
	  -moz-transition: background 0.2s linear;  
	  -o-transition: background 0.2s linear;         
	  transition: background 0.2s linear;  
  }
 /*==================*/ 
 .navbar-right .dropdown-menu {
		right: initial ;
		//left:0;
		border:0;
		-webkit-box-shadow: 0px 10px 15px -4px rgba(50, 50, 50, 0.1);
		-moz-box-shadow: 0px 10px 15px -4px rgba(50, 50, 50, 0.1);
		box-shadow: 0px 10px 15px -4px rgba(50, 50, 50, 0.1);
		border-radius:0;
	}

 .dropdown-submenu > a:after {
    display: block;
    content: " ";
    //float: right;
	position:absolute;
	top:5px;
	right:10px;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #a3bec0;
    margin-top: 7px;
    //margin-right: -10px;
}
	.slick-slide {
     max-height: 200px;
   }
 
}  
@media (min-width: 993px) and (max-width: 1199px){
  .navbar-nav>li>a {
	font-size: 0.85em;
 }
}
@media (min-width: 768px) and (max-width: 1199px){

 nav  img{
   height: 60px;
 }
 nav.affix-top .navbar-nav{
	 margin-top: 10px;
 }
 nav .navbar-brand {
  padding:5px;
 }
 header{
	
	background-size: cover;
 }
 .carousel-zone {
		padding-top: 300px;
	}
	.prize-area > div{
		line-height: 1;
	}
}
@media (min-width: 768px) and (max-width: 992px)  {
	nav .navbar-nav {
		margin-top: 10px;
		max-width: 500px;
	}
	.office-nav>li {
		padding: 10px 10px;
		font-size: 1em;
	}
	
	/*MOVING UP NAVBAR BREAKPOINT*/

    .navbar-header,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
	 .navbar-nav .open .dropdown-menu  {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
	
  .dropdown-menu {
      padding-left: 20px;
  }

	.nav>li {
		border-bottom: 1px solid #ced7d4;
	}
	header {	
		background-position-y:130px;
		background-size:cover;
	}
	.navbar-fixed-top .navbar-collapse {
		max-height: initial;
	}
	.carousel-zone {
		padding-top: 150px;
	}
	.dropdown-submenu > .dropdown-menu {
		margin-left: 15px;
	}
	
	
}
@media (min-width: 1200px){
	.container {
		width: 1200px;
	}
    .main-content aside{
        padding:0 10px;
	}
}
@media (max-width: 992px){
.transition-picture{	
        background-position-y: -100px;
	}
    .navbar-fixed-top{
    	position: absolute;
    }
}
@media (min-width: 481px) and (max-width: 610px){
    .transition-picture{	
        background-position-y: 0px;
	}
}
@media (max-width: 480px){
	.transition-picture h2 {
		font-size: 1.5em;
	}
    .transition-picture h5 {
		font-size: 1em;
	}
	.transition-picture  {
		text-align: center;
		padding: 5% 0;
	}
	.transition-picture hr {
		 margin-left: auto; 
	}
}

@media (max-width: 425px){
.transition-picture{	
        background-position-y: -25px;
	}
}

@media (max-width: 350px){
.prize-area > div{
		line-height: 1;
	}
}